{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <a href='{{ path('partners', {company_id: companyId})}}' class='btn btn-primary mb-4 mt-4'> <- Voltar</a>
    <h1>{{ title }}</h1>
    {{form(form)}}
    <div class="alert" role="alert">{{ msg }}</div>
{% endblock %}